<html>

<body>
<div>Books</div>
{{#books}}
    <div>
        <b>{{id}}</b>
        <span>{{title}}</span>
        <span>{{authorName}}</span>
        <span>{{genre}}</span>
    </div>
{{/books}}
</body>
<a href="/admin/main"><br><- Back</a>
</html>