<html>
<body>
    <a href="/admin/customer_list">Check customer list</a>
    <a href="/admin/author_list"><br>Check author list</a>
    <a href="/admin/book_list"><br>Check book list</a>
    <a href="/admin/purchased_book_list"><br>Check purchased book list</a>
    {{#profit}}
        <div>
            <span><br>Current profit: ${{profit}}</span>
        </div>
    {{/profit}}<div>
<a href="/"><br><- Back</a>
</body>
</html>