<html lang="eng">

<body>
<div>Authors</div>
{{#authors}}
    <div>
        <span>{{login}}</span>
        <span>{{firstName}}</span>
        <span>{{lastName}}</span>
    </div>
{{/authors}}
</body>
<a href="/admin/main"><br><- Back</a>
</html>
