<html>

<body>
    <div>Customers</div>
    {{#customers}}
        <div>
            <span>{{login}}</span>
            <span>{{firstName}}</span>
            <span>{{lastName}}</span>
        </div>
    {{/customers}}
</body>
<a href="/admin/main"><br><- Back</a>
</html>