<html>
<body>
{{#user}}
    <div>Hello, {{firstName}}</div>
    <a href="/author/publish/{{login}}">Publish book</a>
    <a href="/author/stats/{{login}}"><br>Check statistics</a>
{{/user}}
<a href="/"><br><- Back</a>
</body>
</html>