<html>
<body>
{{#error}}
    <div>{{error}}</div>
{{/error}}
{{#notification}}
    <div>{{notification}}</div>
{{/notification}}
<div>What a book do you want to buy?</div>
{{#price}}
    <div>
        <span>One book costs: ${{price}}</span>
    </div>
{{/price}}
<div>
    <form method="post">
        <input type="text" name="bookId" placeholder="Book id">
        <button type="submit">Buy</button>
    </form>
</div>
<div>Book list</div>
{{#books}}
    <div>
        <span>{{id}}</span>
        <span>{{title}}</span>
        <span>{{authorName}}</span>
        <span>{{genre}}</span>
    </div>
{{/books}}
{{#user}}
    <a href="/customer/{{login}}"><- Back</a>
{{/user}}
</body>
</html>