<html>
<body>
{{#user}}
    <div>Hello, {{firstName}}</div>
    <a href="/customer/buy/{{login}}">Buy book</a>
    <a href="/customer/books/{{login}}"><br>Your Books</a>
{{/user}}
<a href="/"><br><- Back</a>
</body>
</html>